{% extends 'base.html.twig' %}

{% block title %}Accueil |{% endblock %}

{% block body %}
    <div class="leaderboard">
        <div class="card border-primary mb-3" style="max-width: 18rem;">
            <div class="card-header text-white btn-gradient border-primary"><i class="fas fa-trophy"></i> Meilleures scores</div>
            <div class="card-body text-primary">
                <p class="card-text"><i class="fas fa-trophy goldTrophy"></i> Lorem Ipsum</p>
                <p class="card-text"><i class="fas fa-trophy silverTrophy"></i> Lorem Ipsum</p>
                <p class="card-text"><i class="fas fa-trophy bronzeTrophy"></i> Lorem Ipsum</p>
            </div>
        </div>

        <div class="container text-center fa-4x">
            <div class="row" style="margin: -15px;">
                <div class="col">
                    <i class="fa-solid fa-chevron-down"></i>
                </div>
                <div class="col">
                    <i class="fa-solid fa-chevron-down"></i>
                </div>
                <div class="col">
                    <i class="fa-solid fa-chevron-down"></i>
                </div>
                <div class="col">
                    <i class="fa-solid fa-chevron-down"></i>
                </div>
                <div class="col">
                    <i class="fa-solid fa-chevron-down"></i>
                </div>
                <div class="col">
                    <i class="fa-solid fa-chevron-down"></i>
                </div>
                <div class="col">
                    <i class="fa-solid fa-chevron-down"></i>
                </div>
            </div>
            <div class="row" style="margin: -15px;">
                <div class="col">
                    <i class="fas fa-circle text-danger"></i>
                </div>
                <div class="col">
                    <i class="fas fa-circle text-primary"></i>
                </div>
                <div class="col">
                    <i class="fas fa-circle"></i>
                </div>
                <div class="col">
                    <i class="fas fa-circle"></i>
                </div>
                <div class="col">
                    <i class="fas fa-circle"></i>
                </div>
                <div class="col">
                    <i class="fas fa-circle"></i>
                </div>
                <div class="col">
                    <i class="fas fa-circle"></i>
                </div>
            </div>
            <div class="row" style="margin: -15px;">
                <div class="col">
                    <i class="fas fa-circle"></i>
                </div>
                <div class="col">
                    <i class="fas fa-circle text-danger"></i>
                </div>
                <div class="col">
                    <i class="fas fa-circle text-primary"></i>
                </div>
                <div class="col">
                    <i class="fas fa-circle"></i>
                </div>
                <div class="col">
                    <i class="fas fa-circle"></i>
                </div>
                <div class="col">
                    <i class="fas fa-circle"></i>
                </div>
                <div class="col">
                    <i class="fas fa-circle"></i>
                </div>
            </div>
            <div class="row" style="margin: -15px;">
                <div class="col">
                    <i class="fas fa-circle"></i>
                </div>
                <div class="col">
                    <i class="fas fa-circle"></i>
                </div>
                <div class="col">
                    <i class="fas fa-circle text-danger"></i>
                </div>
                <div class="col">
                    <i class="fas fa-circle text-primary"></i>
                </div>
                <div class="col">
                    <i class="fas fa-circle"></i>
                </div>
                <div class="col">
                    <i class="fas fa-circle"></i>
                </div>
                <div class="col">
                    <i class="fas fa-circle"></i>
                </div>
            </div>
            <div class="row" style="margin: -15px;">
                <div class="col">
                    <i class="fas fa-circle"></i>
                </div>
                <div class="col">
                    <i class="fas fa-circle"></i>
                </div>
                <div class="col">
                    <i class="fas fa-circle"></i>
                </div>
                <div class="col">
                    <i class="fas fa-circle text-danger"></i>
                </div>
                <div class="col">
                    <i class="fas fa-circle text-primary"></i>
                </div>
                <div class="col">
                    <i class="fas fa-circle"></i>
                </div>
                <div class="col">
                    <i class="fas fa-circle"></i>
                </div>
            </div>
            <div class="row" style="margin: -15px;">
                <div class="col">
                    <i class="fas fa-circle"></i>
                </div>
                <div class="col">
                    <i class="fas fa-circle"></i>
                </div>
                <div class="col">
                    <i class="fas fa-circle"></i>
                </div>
                <div class="col">
                    <i class="fas fa-circle"></i>
                </div>
                <div class="col">
                    <i class="fas fa-circle text-danger"></i>
                </div>
                <div class="col">
                    <i class="fas fa-circle text-primary"></i>
                </div>
                <div class="col">
                    <i class="fas fa-circle"></i>
                </div>
            </div>
            <div class="row" style="margin: -15px;">
                <div class="col">
                    <i class="fas fa-circle"></i>
                </div>
                <div class="col">
                    <i class="fas fa-circle"></i>
                </div>
                <div class="col">
                    <i class="fas fa-circle"></i>
                </div>
                <div class="col">
                    <i class="fas fa-circle"></i>
                </div>
                <div class="col">
                    <i class="fas fa-circle"></i>
                </div>
                <div class="col">
                    <i class="fas fa-circle text-danger"></i>
                </div>
                <div class="col">
                    <i class="fas fa-circle text-primary"></i>
                </div>
            </div>
        </div>
{% endblock %}
